#red {
    background-color: rgb(177, 55, 55);
    color: white;
}

#green {
    background-color: rgb(63, 167, 63);
    color: white;

}

#yellow {
    background-color: rgb(245, 245, 96);
    

}

#blue {
    background-color: rgb(7, 7, 161);
    color: white;

}
